#container
{
	margin-left: auto;
	margin-right: auto;
    padding-left: 150px;
    padding-right: 150px;
}
#Lewy
{
	float: left;
	width: 25%;
}
#Prawy
{
	float: left;
	background-color: lightblue;
	width: 75%;
}	
table
{
	width: 100%;
}	
td
{
	white-space: nowrap;
}
table, th, td
{
    border: 1px solid black;
    border-collapse: collapse;
}
a:hover, .active
{
	background-color: lightblue;
} 
.input
{
	width: 100%;
	box-sizing: border-box; 
}
.zapiszusun
{
	width: 50%;
	box-sizing: border-box; 
}